---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.jsx";
import Footer from "../../components/Footer.jsx";
---

<Layout title="[Title Here] - QuevDev">
  <Navbar />
  <main>
    <header></header>
    <section></section>
  </main>
  <Footer />
</Layout>
